Lists(mutable)

In [1]:
list_a = [1,2,3,4,5,6,7,8,9]
list_a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
list_a[0]

1

In [3]:
list_a[2:5]

[3, 4, 5]

In [4]:
list_a[2:]

[3, 4, 5, 6, 7, 8, 9]

In [5]:
list_a[-1]

9

In [6]:
list_b =['hi','hello','welcome']
list_b

['hi', 'hello', 'welcome']

In [7]:
list_b[0]

'hi'

In [8]:
list_c = (list_a,list_b)

In [9]:
list_c

([1, 2, 3, 4, 5, 6, 7, 8, 9], ['hi', 'hello', 'welcome'])

In [10]:
list_a.append(10)
list_a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
list_a.count(5)

1

In [12]:
list_a.insert(3,15)
list_a

[1, 2, 3, 15, 4, 5, 6, 7, 8, 9, 10]

In [13]:
list_a.remove(3)
list_a

[1, 2, 15, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list_a.index(5)

4

In [15]:
list_a.pop()

10

In [16]:
list_a

[1, 2, 15, 4, 5, 6, 7, 8, 9]

In [17]:
list_a.reverse()
list_a

[9, 8, 7, 6, 5, 4, 15, 2, 1]

In [18]:
list_a.extend(list_b)

In [19]:
list_a

[9, 8, 7, 6, 5, 4, 15, 2, 1, 'hi', 'hello', 'welcome']

In [20]:
 a = [2,4,8,9,4,12]
a

[2, 4, 8, 9, 4, 12]

In [21]:
min(a)

2

In [22]:
max(a)

12

In [23]:
del a[2:]
a

[2, 4]

In [24]:
for i in list_a:
    print(i)

9
8
7
6
5
4
15
2
1
hi
hello
welcome

In [25]:
c = [2,4,6,8,0]
d = [1,3,5,7,9]

In [26]:
e = c+d
e

[2, 4, 6, 8, 0, 1, 3, 5, 7, 9]

Tuples(immutable)

In [27]:
tup_a = (2,4,6,8,10)
tup_a

(2, 4, 6, 8, 10)

In [28]:
tup_a[1]

4

In [29]:
tup_a.count(6)

1

In [30]:
tup_a.index(10)

4

In [31]:
len(tup_a)

5

In [32]:
list_a = list(tup_a)
list_a

[2, 4, 6, 8, 10]

In [33]:
list_a.insert(2,10)
list_a

[2, 4, 10, 6, 8, 10]

In [34]:
tup_a = tuple(list_a)
tup_a

(2, 4, 10, 6, 8, 10)

In [35]:
tupa=(2,6,4,5)
tupb=(5,6,7,8)
c=tupa+tupb
c

(2, 6, 4, 5, 5, 6, 7, 8)

Sets

In [36]:
set_a = {1,2,3,4,5,6,7,8,9,1,3}   #removes duplicates
set_a                             #not works by index

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [37]:
list_a = list(set_a)
list_a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
set_a = set(list_a)
set_a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
set_b = {9,8,7,6,5,4,3,2,1}      #sorted outputs
set_b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
set_a.add(10)
set_a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [41]:
set_a.remove(2)
set_a

{1, 3, 4, 5, 6, 7, 8, 9, 10}

In [42]:
set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
set_a.intersection(set_b)

{1, 3, 4, 5, 6, 7, 8, 9}

In [44]:
set_a.difference(set_b)

{10}

In [45]:
set_a.discard(55)    #no error if element is not present
set_a

{1, 3, 4, 5, 6, 7, 8, 9, 10}

Dictionaries

In [46]:
dicta={"name":"sakthi","surname":"vijay"}   #denoted by 'keys':'values'
print(dicta)

{'name': 'sakthi', 'surname': 'vijay'}

In [47]:
dicta={"name":"sakthi","surname":"vijay","number":101010}
print(dicta)

{'name': 'sakthi', 'surname': 'vijay', 'number': 101010}

In [48]:
dicta={"name":"sakthi","surname":"vijay","number":101010}
print(dicta)
print(dicta["number"])

{'name': 'sakthi', 'surname': 'vijay', 'number': 101010}
101010

In [49]:
dicta["language"]="tamil"
dicta

{'name': 'sakthi', 'surname': 'vijay', 'number': 101010, 'language': 'tamil'}

In [50]:
len(dicta)

4

In [51]:
for key in dicta:
    print(key)

name
surname
number
language

In [52]:
for key in dicta:
    print(dicta[key])

sakthi
vijay
101010
tamil

In [53]:
dicta.fromkeys("name")

{'n': None, 'a': None, 'm': None, 'e': None}

In [54]:
dicta.values()

dict_values(['sakthi', 'vijay', 101010, 'tamil'])

In [55]:
dicta.items()

dict_items([('name', 'sakthi'), ('surname', 'vijay'), ('number', 101010), ('language', 'tamil')])

In [56]:
dicta.pop("language")

'tamil'

In [57]:
dicta

{'name': 'sakthi', 'surname': 'vijay', 'number': 101010}

List Comprehensions

In [58]:
a = [1,2,3,4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [59]:
b = []
for i in range(len(a)):
    b.append(a[i] * 2)

In [60]:
b

[2, 4, 6, 8, 10, 12]

In [61]:
c = []
for i in range(len(a)):
    c.append(a[i] * 3)

In [62]:
c

[3, 6, 9, 12, 15, 18]

In [63]:
d =[]
for i in range(1,10):
    d.append(i**2)

In [64]:
d

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
e = [i*2 for i in range(10,0,-1)]
e

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [66]:
e = [i**2 for i in range(10,0,-1)]
e

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]